# OpenRouter
OPENROUTER_API_KEY=YOUR_OPENROUTER_KEY
LLM_MODEL=openai/gpt-4o-mini
OPENROUTER_SITE_URL=http://localhost:5173
OPENROUTER_APP_NAME=pdf-extractor

# PDF
POPPLER_PATH=C:\Path\To\Poppler\bin
PDF_DPI=350
UPSCALE_FACTOR=1.2
GRID_OVERLAY=false
GRID_SPACING=25

# Upstage (cropping
